In [1]:
import pandas as pd
import numpy as np

In [2]:
import os

In [3]:
pwd

'C:\\Users\\amant'

In [4]:
os.chdir('D:/Topmentor_Python_Class')

In [5]:
pwd

'D:\\Topmentor_Python_Class'

In [6]:
df = pd.read_csv('D:/Topmentor_Python_Class/Telecom Retention_Telo company.csv')

In [7]:
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,SC,79,415,No,No,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,False
2662,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
2663,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
2664,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
2665,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [8]:
telecom_data = df.copy()

In [9]:
telecom_data.head(n=4)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False

In [10]:
telecom_data.isnull().sum()

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
dtype: int64

In [11]:
telecom_data.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
count,2666.000000,2666.000000,2666.000000,2666.00000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000
mean,100.620405,437.438860,8.021755,179.48162,100.310203,30.512404,200.386159,100.023631,17.033072,201.168942,100.106152,9.052689,10.237022,4.467367,2.764490,1.562641
std,39.563974,42.521018,13.612277,54.21035,19.988162,9.215733,50.951515,20.161445,4.330864,50.780323,19.418459,2.285120,2.788349,2.456195,0.752812,1.311236
min,1.000000,408.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,43.700000,33.000000,1.970000,0.000000,0.000000,0.000000,0.000000
25%,73.000000,408.000000,0.000000,143.40000,87.000000,24.380000,165.300000,87.000000,14.050000,166.925000,87.000000,7.512500,8.500000,3.000000,2.300000,1.000000
50%,100.000000,415.000000,0.000000,179.95000,101.000000,30.590000,200.900000,100.000000,17.080000,201.150000,100.000000,9.050000,10.200000,4.000000,2.750000,1.000000
75%,127.000000,510.000000,19.000000,215.90000,114.000000,36.700000,235.100000,114.000000,19.980000,236.475000,113.000000,10.640000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,50.000000,350.80000,160.000000,59.640000,363.700000,170.000000,30.910000,395.000000,166.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [12]:
telecom_data.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [13]:
telecom_data.shape

(2666, 20)

In [14]:
telecom_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   2666 non-null   object
 1   Account length          2666 non-null   int64
 2   Area code               2666 non-null   int64
 3   International plan      2666 non-null   object
 4   Voice mail plan         2666 non-null   object
 5   Number vmail messages   2666 non-null   int64
 6   Total day minutes       2666 non-null   float64
 7   Total day calls         2666 non-null   int64
 8   Total day charge        2666 non-null   float64
 9   Total eve minutes       2666 non-null   float64
 10  Total eve calls         2666 non-null   int64
 11  Total eve charge        2666 non-null   float64
 12  Total night minutes     2666 non-null   float64
 13  Total night calls       2666 non-null   int64
 14  Total night charge      2666 non-null   float64
 15  Total intl minutes      2666 non-null   float64
 16  Total intl calls        2666 non-null   int64
 17  Total intl charge       2666 non-null   float64
 18  Customer service calls  2666 non-null   int64
 19  Churn                   2666 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 398.5+ KB

In [15]:
telecom_data['Churn'] = telecom_data['Churn'].astype('int64')

In [16]:
telecom_data

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,SC,79,415,No,No,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,0
2662,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
2663,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
2664,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
2665,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

In [17]:
telecom_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   2666 non-null   object
 1   Account length          2666 non-null   int64
 2   Area code               2666 non-null   int64
 3   International plan      2666 non-null   object
 4   Voice mail plan         2666 non-null   object
 5   Number vmail messages   2666 non-null   int64
 6   Total day minutes       2666 non-null   float64
 7   Total day calls         2666 non-null   int64
 8   Total day charge        2666 non-null   float64
 9   Total eve minutes       2666 non-null   float64
 10  Total eve calls         2666 non-null   int64
 11  Total eve charge        2666 non-null   float64
 12  Total night minutes     2666 non-null   float64
 13  Total night calls       2666 non-null   int64
 14  Total night charge      2666 non-null   float64
 15  Total intl minutes      2666 non-null   float64
 16  Total intl calls        2666 non-null   int64
 17  Total intl charge       2666 non-null   float64
 18  Customer service calls  2666 non-null   int64
 19  Churn                   2666 non-null   int64
dtypes: float64(8), int64(9), object(3)
memory usage: 416.7+ KB

In [18]:
telecom_data.head(5)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [19]:
telecom_data.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
count,2666.000000,2666.000000,2666.000000,2666.00000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000
mean,100.620405,437.438860,8.021755,179.48162,100.310203,30.512404,200.386159,100.023631,17.033072,201.168942,100.106152,9.052689,10.237022,4.467367,2.764490,1.562641,0.145536
std,39.563974,42.521018,13.612277,54.21035,19.988162,9.215733,50.951515,20.161445,4.330864,50.780323,19.418459,2.285120,2.788349,2.456195,0.752812,1.311236,0.352707
min,1.000000,408.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,43.700000,33.000000,1.970000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,73.000000,408.000000,0.000000,143.40000,87.000000,24.380000,165.300000,87.000000,14.050000,166.925000,87.000000,7.512500,8.500000,3.000000,2.300000,1.000000,0.000000
50%,100.000000,415.000000,0.000000,179.95000,101.000000,30.590000,200.900000,100.000000,17.080000,201.150000,100.000000,9.050000,10.200000,4.000000,2.750000,1.000000,0.000000
75%,127.000000,510.000000,19.000000,215.90000,114.000000,36.700000,235.100000,114.000000,19.980000,236.475000,113.000000,10.640000,12.100000,6.000000,3.270000,2.000000,0.000000
max,243.000000,510.000000,50.000000,350.80000,160.000000,59.640000,363.700000,170.000000,30.910000,395.000000,166.000000,17.770000,20.000000,20.000000,5.400000,9.000000,1.000000

In [20]:
Customer_perdaycost = 100.310203 / 30.512404

In [21]:
Customer_perdaycost   ### Average Cost of Per Customer per day

3.287522117234683

In [22]:
Customer_perevecost = 100.023631 / 17.033072

In [23]:
Customer_perevecost   ### Average Cost of Per Customer per Evening

5.872318921683651

In [24]:
Customer_pernightcost = 100.106152 / 9.052689

In [25]:
Customer_pernightcost   ### Average Cost of Per Customer per Night

11.058167578716112

In [26]:
telecom_data.describe(include = ['object', 'bool'])  ### describe only that data which is of object and boolean type

       State International plan Voice mail plan
count   2666               2666            2666
unique    51                  2               2
top       WV                 No              No
freq      88               2396            1933

In [27]:
telecom_data['Churn'].value_counts()  ### 2278 are the retained Customers and 388 are the churned customers

0    2278
1     388
Name: Churn, dtype: int64

In [28]:
telecom_data['Churn'].value_counts(normalize = True)*100 ### 85.44% are the Retained Customers and 14.55% are the Churned Customers

0    85.446362
1    14.553638
Name: Churn, dtype: float64

In [29]:
### Average of all the Neumrical Values only for Churned Customers
telecom_data[telecom_data['Churn']==1].mean()

Account length            102.319588
Area code                 437.543814
Number vmail messages       5.170103
Total day minutes         205.181186
Total day calls           101.195876
Total day charge           34.881340
Total eve minutes         209.385309
Total eve calls            99.948454
Total eve charge           17.797861
Total night minutes       205.307216
Total night calls         100.682990
Total night charge          9.238892
Total intl minutes         10.819330
Total intl calls            4.051546
Total intl charge           2.921727
Customer service calls      2.206186
Churn                       1.000000
dtype: float64

In [30]:
### Average of all the Neumrical Values only for not Churned Customers
telecom_data[telecom_data['Churn']==0].mean()

Account length            100.330992
Area code                 437.420983
Number vmail messages       8.507463
Total day minutes         175.104346
Total day calls           100.159350
Total day charge           29.768266
Total eve minutes         198.853380
Total eve calls           100.036435
Total eve charge           16.902809
Total night minutes       200.464091
Total night calls         100.007902
Total night charge          9.020975
Total intl minutes         10.137840
Total intl calls            4.538191
Total intl charge           2.737709
Customer service calls      1.453029
Churn                       0.000000
dtype: float64

In [31]:
### Time in Minutes user spend on a Day call for Churned Customers
telecom_data[telecom_data['Churn']==1]['Total day minutes'].mean()

205.1811855670104

In [32]:
### Time in Minutes user spend on a Evening call for Churned Customers
telecom_data[telecom_data['Churn']==1]['Total eve minutes'].mean()

209.38530927835052

In [33]:
### Time in Minutes user spend on a Night callfor Churned Customers
telecom_data[telecom_data['Churn']==1]['Total night minutes'].mean()

205.30721649484514

In [34]:
### Time in Minutes user spend on a Day call for Retained Customers
telecom_data[telecom_data['Churn']==0]['Total day minutes'].mean()

175.1043459174718

In [35]:
### Time in Minutes user spend on a Evening call for Retained Customers
telecom_data[telecom_data['Churn']==0]['Total eve minutes'].mean()

198.85338015803347

In [36]:
### Time in Minutes user spend on a Night call for Retained Customers
telecom_data[telecom_data['Churn']==0]['Total night minutes'].mean()

200.46409130816554

In [37]:
###Loyal Customers based on International Calls

In [38]:
telecom_data[telecom_data['Churn']==1]['Total intl calls'].mean()

4.051546391752577

In [39]:
telecom_data[telecom_data['Churn']==0]['Total intl calls'].mean()

4.53819139596137

In [40]:
### Those who are not having the International Plans are Churning Out
telecom_data[(telecom_data['Churn']==1) & (telecom_data['International plan'] == 'No')]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
18,CO,77,408,No,No,0,62.4,89,10.61,169.9,121,14.44,209.6,64,9.43,5.7,6,1.54,5,1
28,AZ,12,408,No,No,0,249.6,118,42.43,252.4,119,21.45,280.2,90,12.61,11.8,3,3.19,1,1
45,WY,87,415,No,No,0,151.0,83,25.67,219.7,116,18.67,203.9,127,9.18,9.7,3,2.62,5,1
48,CO,121,408,No,Yes,30,198.4,129,33.73,75.3,77,6.40,181.2,77,8.15,5.8,3,1.57,3,1
58,TX,150,510,No,No,0,178.9,101,30.41,169.1,110,14.37,148.6,100,6.69,13.8,3,3.73,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2614,ID,82,415,No,No,0,266.9,83,45.37,229.7,74,19.52,251.7,99,11.33,11.0,6,2.97,3,1
2624,AR,76,408,No,No,0,107.3,140,18.24,238.2,133,20.25,271.8,116,12.23,10.0,3,2.70,4,1
2628,KS,170,415,No,Yes,42,199.5,119,33.92,135.0,90,11.48,184.6,49,8.31,10.9,3,2.94,4,1
2657,MD,62,408,No,No,0,321.1,105,54.59,265.5,122,22.57,180.5,72,8.12,11.5,2,3.11,4,1
2658,IN,117,415,No,No,0,118.4,126,20.13,249.3,97,21.19,227.0,56,10.22,13.6,3,3.67,5,1

In [41]:
#### Inputing the Categorical values to Boolean values

In [42]:
f ={'No':False, 'Yes': True}

In [43]:
telecom_data['International plan'] = telecom_data['International plan'].map(f)

In [44]:
telecom_data

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,False,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,False,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,False,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,True,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,True,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,SC,79,415,False,No,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,0
2662,AZ,192,415,False,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
2663,WV,68,415,False,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
2664,RI,28,510,False,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
2665,TN,74,415,False,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

In [45]:
#### Replacing the categorical data with boolean values
telecom_data = telecom_data.replace({'Voice mail plan':f})

In [46]:
telecom_data

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,False,True,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,False,True,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,False,False,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,True,False,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,True,False,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,SC,79,415,False,False,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,0
2662,AZ,192,415,False,True,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
2663,WV,68,415,False,False,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
2664,RI,28,510,False,False,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
2665,TN,74,415,False,True,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

In [47]:
telecom_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   2666 non-null   object
 1   Account length          2666 non-null   int64
 2   Area code               2666 non-null   int64
 3   International plan      2666 non-null   bool
 4   Voice mail plan         2666 non-null   bool
 5   Number vmail messages   2666 non-null   int64
 6   Total day minutes       2666 non-null   float64
 7   Total day calls         2666 non-null   int64
 8   Total day charge        2666 non-null   float64
 9   Total eve minutes       2666 non-null   float64
 10  Total eve calls         2666 non-null   int64
 11  Total eve charge        2666 non-null   float64
 12  Total night minutes     2666 non-null   float64
 13  Total night calls       2666 non-null   int64
 14  Total night charge      2666 non-null   float64
 15  Total intl minutes      2666 non-null   float64
 16  Total intl calls        2666 non-null   int64
 17  Total intl charge       2666 non-null   float64
 18  Customer service calls  2666 non-null   int64
 19  Churn                   2666 non-null   int64
dtypes: bool(2), float64(8), int64(9), object(1)
memory usage: 380.2+ KB

In [48]:
### Describing the data by grouping it as Churn with Day Calls, Evening Calls and night Calls
col = ['Total day calls', 'Total eve calls', 'Total night calls']
telecom_data.groupby('Churn')[col].describe()

      Total day calls                                                         \
                count        mean        std  min   25%    50%    75%    max
Churn
0              2278.0  100.159350  19.681914  0.0  87.0  100.0  113.0  160.0
1               388.0  101.195876  21.705279  0.0  87.0  103.0  116.0  156.0

      Total eve calls              ...               Total night calls  \
                count        mean  ...    75%    max             count
Churn                              ...
0              2278.0  100.036435  ...  114.0  170.0            2278.0
1               388.0   99.948454  ...  113.0  159.0             388.0


             mean        std   min    25%    50%    75%    max
Churn
0      100.007902  19.307282  33.0  87.00  100.0  113.0  166.0
1      100.682990  20.074667  49.0  85.75  101.0  116.0  158.0

[2 rows x 24 columns]

In [49]:
### Describing the data by grouping it as Churn with Day Calls, Evening Calls and night Calls
col = ['Total day calls', 'Total eve calls', 'Total night calls']
telecom_data.groupby('Churn')[col].agg([np.mean, np.std, np.min, np.max])

      Total day calls                      Total eve calls                  \
                 mean        std amin amax            mean        std amin
Churn
0          100.159350  19.681914    0  160      100.036435  20.258800    0
1          101.195876  21.705279    0  156       99.948454  19.605474   48

           Total night calls
      amax              mean        std amin amax
Churn
0      170        100.007902  19.307282   33  166
1      159        100.682990  20.074667   49  158

In [55]:
### Crosstab 2 columns
pd.crosstab(telecom_data['Churn'], telecom_data['International plan'])

International plan  False  True
Churn
0                    2126    152
1                     270    118

In [51]:
pd.crosstab(telecom_data['Churn'], telecom_data['Voice mail plan'])

Voice mail plan  False  True
Churn
0                 1610    668
1                  323     65

In [54]:
### Pivot table analysis
telecom_data.pivot_table(col,['State'], aggfunc = 'mean').sort_index(ascending = False)

       Total day calls  Total eve calls  Total night calls
State
WY          101.333333        99.166667         102.787879
WV          104.500000        99.363636         100.715909
WI           97.000000        99.081967          98.426230
WA          100.520833        95.750000         103.750000
VT          101.035088        96.982456         103.578947
VA          105.910448       100.462687          93.104478
UT           99.683333        97.866667         100.733333
TX          101.236364       101.254545          99.290909
TN           99.658537       105.853659          91.000000
SD           93.918367        98.367347          94.081633
SC          101.571429       100.714286          99.816327
RI          100.875000        93.270833         101.750000
PA           98.888889       100.361111          99.500000
OR           94.564516        98.564516         102.209677
OK           99.807692       105.057692         101.942308
OH           99.787879       101.363636         103.757576
NY           99.176471       100.911765          98.632353
NV          102.311475        95.918033         101.377049
NM          101.681818       102.340909         103.068182
NJ           99.360000       101.380000         100.380000
NH          101.093023        96.046512          98.302326
NE           94.688889       102.200000         103.444444
ND          100.613636       102.636364         102.636364
NC          103.125000       104.232143         100.464286
MT           95.301887        97.188679         102.547170
MS          102.416667        99.104167          99.791667
MO           99.882353       102.294118         101.372549
MN           98.900000       103.514286         101.642857
MI           99.086207       100.844828         103.603448
ME          100.510204       106.346939          97.306122
MD           97.833333        99.850000          95.600000
MA          101.615385        98.326923          96.730769
LA          102.971429        96.628571         101.628571
KY           99.093023        99.651163         102.720930
KS          100.307692        98.326923         100.384615
IN          105.814815        98.703704         100.388889
IL          101.044444       102.088889          97.311111
ID          108.017857        98.285714         100.392857
IA          104.131579        98.157895          98.736842
HI          101.000000        99.136364          98.295455
GA          104.612245       101.877551         105.795918
FL           99.222222       106.925926         100.740741
DE           98.549020        99.333333         101.705882
DC           97.933333       101.933333          97.000000
CT           98.610169        98.694915         101.915254
CO           94.881356        96.203390          95.576271
CA          100.666667       106.500000         100.125000
AZ          101.444444       103.044444         100.466667
AR          104.382979        99.787234          96.936170
AL           99.439394        98.075758         101.227273
AK           94.627907        95.558140          98.069767

In [63]:
### Grouping Coulums to find some insights
telecom_data.groupby(['Area code', 'State','Churn'])[col].mean()

                       Total day calls  Total eve calls  Total night calls
Area code State Churn
408       AK    0            95.333333       103.555556         108.555556
          AL    0            99.000000       102.444444         101.111111
                1           102.250000        86.250000          89.000000
          AR    0           107.818182       109.454545          89.090909
                1           140.000000       133.000000         116.000000
...                                ...              ...                ...
510       WI    1            78.000000       108.000000          91.000000
          WV    0           105.958333       102.583333          96.958333
                1            75.666667       120.333333          98.000000
          WY    0           104.076923        99.692308         104.615385
                1           104.666667        96.666667          89.000000

[285 rows x 3 columns]

In [72]:
Threshold = 0.7
abs(telecom_data.corr()['Churn']) > Threshold

Account length            False
Area code                 False
International plan        False
Voice mail plan           False
Number vmail messages     False
Total day minutes         False
Total day calls           False
Total day charge          False
Total eve minutes         False
Total eve calls           False
Total eve charge          False
Total night minutes       False
Total night calls         False
Total night charge        False
Total intl minutes        False
Total intl calls          False
Total intl charge         False
Customer service calls    False
Churn                      True
Name: Churn, dtype: bool